#container{
    /*Couleurs pour mieux visualiser*/
    /*background-color: lightgrey;*/
    display: grid;
    grid-template-columns: 1fr 1.5fr 1fr 2fr 1fr 1.5fr 1.5fr; 
    grid-template-rows: 0.8fr 0.8fr 3fr 0.8fr;

    
}

h1{
    grid-row: 1;
    grid-column:4;
    text-align: center;

}

nav{
    /*Couleurs pour mieux visualiser*/
    /*background-color:lightcoral;*/
    grid-column: 4;
    grid-row: 2;
}

ul{
    list-style-type: none;
    display: grid;
    /*Couleurs pour mieux visualiser*/
    /*background-color: grey;*/
    padding: 0;
}
 li{
    /*Couleurs pour mieux visualiser*/
    /*background-color: white;*/
    padding-right:5px;
    grid-row-start: left;
    padding: 0;
    margin: 5px;
    text-align: center;
 }

#container div:nth-child(3){
    /*Couleurs pour mieux visualiser*/
    /*background-color:aquamarine;*/
    grid-column: 1 /span 2;
    grid-row: 3;
} 

#container div:nth-child(4){
    /*Couleurs pour mieux visualiser*/
    /*background-color: yellow;*/
    grid-column: 3 /span 3;
    grid-row: 3;
}

#container div:nth-child(4) p{
    text-overflow: clip;
}

#container div:nth-child(5){
    /*Couleurs pour mieux visualiser*/
    /*background-color: lightgreen;*/
    grid-column: 6 /span 7;
    grid-row: 3; 
}

footer{
    /*Couleurs pour mieux visualiser*/
    /*background-color: lightskyblue;*/
    grid-column: 1;
    grid-row: 4;
}